<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{hikeName}}</p>
  <p>Created by {{user.name}}</p>
  <p>
    {{time}}
  </p>
  <p>
    {{elevationChange}}
  </p>
  <p>
    <button class="waves-effect waves-light btn">Added Hike</button>
  </p>
</div>