<!-- Loop over each object in the projects array -->
{{#each activity as |activity| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/actitiy/{{activity.id}}">{{activity.name}}</a>
    </h2>
    <div class="col-md-7">
      <p>
        {{activity.description}}
      </p>
      <p> 
        {{actitiy.rating}}
      </p>
      </div>
      <p>Created by {{activity.user.name}} on {{format_date activity.date_created}}</p>
  </div>
</div>
{{/each}}