<!-- Loop over each object in the projects array -->
{{#each hikes as |hike| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/hike/{{hike.id}}">{{hike.hikeName}}</a>
    </h2>
    <div class="col-md-7">
      <p>
        {{hike.time}}
      </p>
      <p> 
        {{hike.length}}
      </p>
      <p>
        {{hike.elevationChange}}
      </p>
      </div>
      <p>Created by {{hike.user.name}}</p>
  </div>
</div>
{{/each}}